<div class="side-header">
  <div class="user-name">
    <a href="#">Tom</a>
  </div>
  <div class="make-chatroom">
    <a href="#" >チャットを作成する</a>
  </div>
</div>
<div class="room-lists">
  <div class="room">
    <a href="#" >room1</a>
  </div>
</div>