.wrapper{
  display: flex;
}
/* サイドバー */
.side-bar{
  background-color: #253141;
  height: 100vh;
  width: 300px;
}
.side-header{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
  padding-left: 20px;
}
.make-chatroom a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  text-decoration: none;
  margin-left: 20px;
  padding: 14px;
}
.room-lists{
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.room{
  padding: 20px 20px 40px 20px;
}
.room a{
  color: white;
  text-decoration: none;
}

/* メインチャット画面 */
.chat{
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}
.main-header{
  background-color: #FFFFFF;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.room-name{
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}
.end-chat{
  margin-top: 40px;
}
.end-chat a{
  color: darkred;
  text-decoration: none;
  border: 1px solid darkred;
  padding: 20px;
}
.message-area{
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
  overflow: scroll;
}
.message{
  margin-bottom: 40px;
}
.top-message{
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
}
.message-name{
  font-size: 16px;
  color: #434A54;
}
.message-date{
  margin-left: 10px;
  font-size: 12px;
  color: #999;
}
.content{
  font-size: 14px;
  color: #434A54;
}
.input-form{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}
.form{
  display: flex;
  width: 100%;
  background-color: white;
}
.content-form{
  height: 50px;
  width: 100%;
  border: none;
  padding-left: 10px;
}
.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}
.hidden {
  display: none;
}
.submit{
  height: 50px;
  background-color: #38AEF0;
  margin-left: 15px;
  border: none;
  padding: 0 20px;
  color: white;
  font-size: 16px;
}